# clojure

pom.xml
pom.xml.asc
*.jar
*.class
*.lein-*
*.nrepl-port
*.eastwood
bin*/
target/
checkouts/
*results/

# python
python/climate-module/docs
dist/
*.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.prospector.yml
*.vscode
R/
